<mat-card>
    <mat-card-header>
        <mat-card-title>
            SnackBars
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <mat-card>
            <mat-card-title>
                Default
            </mat-card-title>

            <mat-card-content>
                <button mat-raised-button color="primary">
                    Default snackbar
                </button>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title>
                Custom theme 1
            </mat-card-title>
            <mat-card-content>
                <button mat-raised-button class="bg-success mx-2"
                    (click)="snackBarTheme1Service.success('success')">Show
                    Success
                    Snack
                    Bar</button>
                <button mat-raised-button class="bg-warning"
                    (click)="snackBarTheme1Service.warning('warning')">Warning</button>
                <button mat-raised-button class="bg-error" (click)="snackBarTheme1Service.error('hi')">error</button>
                <button mat-raised-button class="bg-info" (click)="snackBarTheme1Service.info('hi')">info</button>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title>
                Custom theme
            </mat-card-title>
            <mat-card-content>
                <button mat-raised-button class="bg-success mx-2"
                    (click)="snackBarTheme1Service.success('success')">Show
                    Success
                    Snack
                    Bar</button>
                <button mat-raised-button class="bg-warning"
                    (click)="snackBarTheme1Service.warning('warning')">Warning</button>
                <button mat-raised-button class="bg-error" (click)="snackBarTheme1Service.error('hi')">error</button>
                <button mat-raised-button class="bg-info" (click)="snackBarTheme1Service.info('hi')">info</button>
            </mat-card-content>
        </mat-card>

    </mat-card-content>
</mat-card>